.body{
    background: #F5F5F5;
}
.container1{
    height: 258px;
    background: url(image.png);
    margin-left: 45%;

}
.container2{
    height: 99px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
   
}
.container3{
    height: 258px;
    background: url(image.png);
    margin-left: 45%;
}
 .container4{
    height: 99px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-right: 45%;

 }
 .container5{
    height: 99px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;

 }
 .container6{
width: 237.95px;
height: 184.57px;
background: url(BB.png);

 }
 .container7{
width: 1363px;
height: 202px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;

 }
 .container8{
width: 494px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000000;

 }
 .container9{
width: 323.9px;
height: 148.38px;
background: url(A.png);
 }
 .container10{
width: 1323px;
height: 167px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
padding-right: 15px;

 }